name: 
  Run server on push

on:
  push

jobs:
  run_django_server:
    runs-on: 
      ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      
      - name: Install requirements
        run: | 
          python manage.py migrate
          timeout 10s python manage.py runserver